.no-data-message-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100%; /* Ensure it takes the full height of the parent */
  }
  
  .no-data-message {
    /* Additional styling for the "No Data Available" message, if needed */
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
  }
  .call-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  